@page "/webgl"

<p>
	@test
</p>

<BECanvas Width="300" Height="400" @ref="canvasReference"></BECanvas>

@code {
	private int test = 5;

	private WebGLContext context;
	protected BECanvasComponent canvasReference;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		Console.WriteLine("Initialized");
		this.context = await this.canvasReference.CreateWebGLAsync();

		await this.context.ClearColorAsync(0, 0, 0, 1);
		await this.context.ClearAsync(BufferBits.COLOR_BUFFER_BIT);
	}
}